html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	font-family: monospace;
}

a{
	text-decoration: none;
	color: black;
}

#header{

	height: auto;
	text-align: center;
	padding: 10px;
	display: block;
	font-size: 64px;
}

#profile{
	position: sticky;
	margin-top: 0 0 100 0px;
	width: 100px;
}

#nav{
	background-color: orange;
	display: block;
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 10px 0 10px 0;
}

.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}


.sticky + .content{
	padding-top: 84px;
}

#nav a{
	padding: 10px;

}

.about{
	width: 60%;
	padding: 10px;
	margin: auto;
	height: auto;
}

.about{
	font-size: 24px;
}

.row{
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column{
	flex: 30%;
	max-width: 30%;
	padding: 0 4px;
	margin: auto;
}


.column img{
	margin-top: 8px;
	object-fit: cover;
	vertical-align: middle;
	width: 300px;
	margin: auto;
	display: block;
	height: 300px;
}

@media screen and (max-width: 800px){
	.column{
		flex: 50%;
		max-width: 50%;
	}
}

@media screen and (max-width: 600px){
	.column{
		flex: 100%;
		max-width: 100%;
	}
}


.contact{
	display: block;
	margin: auto;
	width: 50%;
	text-align: center;
	padding-bottom: 50px;
	font-size: 24px;

}
 
.contact
	h1{
		padding: 10px;
	} 
	div{
	padding: 10px;	
	}
	form input{
	height: 30px;
	width: 70%;
	border-radius: 5px;
	}
	form textarea{
	width: 70%;
	height: 200px;
	border-radius: 5px;
	}

.resume{
	display: block;
	margin: auto;
	width: 50%;
	padding-bottom: 50px;
	font-size: 24px;
}

.resume button{
	margin: auto;
	border-radius: 15px;
	padding: 12px 30px;
	cursor: pointer;
	display: block;
}



#footer{
	background-color: red;
	height: auto;
	text-align: center;
	padding: 20px;
	display: block;
	color: whitesmoke;	
}

#footer div{
	padding: 10px;
}

#footer .socials img{
	width: 24px;
	padding: 10px;
}

a:hover{
	color: grey;
	opacity: 0.5;
	transition: 0.5s;
}

